body {
  height: 100vh;
  background-color: #0f172a;
  display: flex;
  place-self: center;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat, repeat;
  transition: all 0.5s ease;
}

.theme2{
  background-image: url('/bg.jpg');
  /* transition: all 1s ease; */
}
.theme1{
  background-image: url('/bg2.jpg');
  /* transition: all 1s ease; */
}


.main-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: 
  opacity 0.6s ease,
  transform 0.6s ease;
  width: 100%;
}
.main-div.hide {
  opacity: 0;
  transform: translateY(40px);
  pointer-events: none;
}

.main-div-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.logo-img{
  width: 70px;
}

.theme-btn{
  background-color: #475351;
  color: white;
  font-family: "VT323", monospace;
  font-size: 1.6rem;
  padding: 2px 10px;
  border: 2px solid black;
  cursor: pointer;
}
.theme-btn-2{
  background-color: white;
  color: black;
  font-family: "VT323", monospace;
  font-size: 1.6rem;
  padding: 2px 10px;
  border: 2px solid black;
  cursor: pointer;
}

.p1{
  text-align: center;
  color: #34382f;
  font-size: 6rem;
  /* font-family: 'Orbitron', sans-serif; */
  /* font-family: "Metal Mania", system-ui; */
  font-family: "VT323", monospace;
  margin: 0px;
}
.p1-1{
  text-align: center;
  color: white;
  font-size: 6rem;
  /* font-family: 'Orbitron', sans-serif; */
  /* font-family: "Metal Mania", system-ui; */
  font-family: "VT323", monospace;
  margin: 0px;
}

.year{
  font-family: 'Audiowide', cursive;
  font-size: 6rem;
  color: #34382f;
}
.year-1{
  font-family: 'Audiowide', cursive;
  font-size: 6rem;
  color: white;
}

.day-month-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: black;
}
.day-month-div-2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
}

.day-div, .month-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colon-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.colon-p{
  font-size: 4rem;
  margin: 0;
}

.day-month{
  font-size: 4rem;
  font-family: 'Audiowide', cursive;
}

.date-div{
  font-size: 2rem;
  font-family: 'Audiowide', cursive;
}

.p2{
  margin: 0;
}

.top-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* font-family: 'Orbitron', sans-serif; */
  /* font-family: "Metal Mania", system-ui; */
  /* font-family: "VT323", monospace; */
}

.digits {
  text-align: center;
  display: flex;
}

.time-div {
  background-color: rgba(197, 197, 197, 0.36);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(10px);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 20px;
  /* width: 12ch; */
  color: black;
}
.time-div-2 {
  background-color: rgba(197, 197, 197, 0.36);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(10px);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 20px;
  /* width: 12ch; */
  color: white;
}

.hms{
  font-size: 6rem;
  font-family: 'Audiowide', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2ch;
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
  /* display: inline-block; */
}
.hms2{
  font-size: 6rem;
  font-family: 'Audiowide', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
  /* display: inline-block; */
}
.hms1{
  font-size: 1rem;
  font-family: 'Audiowide', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ampm {
  font-size: 2rem;
  /* margin-left: 12px; */
  /* width: 30px; */
  text-align: left;
  font-family: 'Audiowide', cursive;
}

.focus-div{
  margin-top: 50px;
  background-color: #01dd388c;
  border-radius: 30%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  border: 3px solid purple;
  box-shadow: 0px 0px 100px rgba(0, 0, 255, 0.438);
  justify-self: center;
  font-size: 1rem;

  transition: 
  transform 1s ease,
  font-size 1s ease,
  padding 1s ease,
  border-radius 1s ease,
  background-color 1s ease,
  top 1s ease;
}
.focus-div.move-top {
  /* transform: translateY(-450px); */
  transform: translate(-600px,-500px);
  font-size: 14px;
  padding: 10px 10px;
  border-radius: 20%;
  background-color: #dd01018c;
}

.focus{
  font-weight: bolder;
}


.focus-time {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 18px;

  transition: opacity 0.4s ease, transform 0.4s ease;
}

.focus-time.hide {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
}

.time-input {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(6px);
  padding: 6px 10px;
  border-radius: 12px;
}

.time-input input {
  /* width: 42px; */
  background: transparent;
  border: none;
  outline: none;

  font-size: 1.1rem;
  text-align: center;
  color: black;
  font-family: 'Orbitron', sans-serif;
}

.time-input span {
  font-size: 1rem;
  color: #aaa;
}


.circle-timer {
  position: fixed;
  inset: 0;
  opacity: 0;
  transition: 
  opacity 0.6s ease;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  pointer-events: none;
  user-select: none;
}

.circle-timer.unhide{
  opacity: 1;
  /* transform: translateX(-50%); */
  pointer-events: auto;
}
.timer-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.clock{
  display: block;
}

.pause-reset{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pause-btn{
  background-color: #1ec70f;
  color: white;
  font-family: "VT323", monospace;
  font-size: 1.6rem;
  padding: 5px 20px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 50px;
}
.reset-btn{
  background-color: #c70f0f;
  color: white;
  font-family: "VT323", monospace;
  font-size: 1.6rem;
  padding: 5px 20px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 50px;
}
.color{
  font-size: 2rem;
  font-family: 'Orbitron', sans-serif;
  user-select: none;
  font-weight: bolder;
  fill: red;
}
.color-2{
  font-size: 2rem;
  font-family: 'Orbitron', sans-serif;
  user-select: none;
  font-weight: bolder;
  fill: white;
}

.timer-text {
  font-size: 2rem;
  font-family: 'Orbitron', sans-serif;
  user-select: none;
  font-weight: bolder;
  fill: #024072;
}


.focus-main-div{
  user-select: none;
}


.you-can-do-it{
  color: red;
}

@keyframes pulse {
  0% { r: 4; opacity: 1; }
  50% { r: 6; opacity: 0.6; }
  100% { r: 4; opacity: 1; }
}
