

@media (max-width: 768px) {
  html, body {
  width: 100%;
  min-height: 100svh;
  margin: 0;
  background-color: #0f172a;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat, repeat;
  transition: all 0.5s ease;
  overflow-x: hidden;
}
.theme2{
  background-image: url('/bg.jpg');
}
.theme1{
  background-image: url('/bg2.jpg');
}
.main-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: 
  opacity 0.6s ease,
  transform 0.6s ease;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  gap: 40px;
}

.main-div-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
  width: 100%;
  max-width: 100%;
  padding: 10px 0px;
  box-sizing: border-box;
}
.logo-img{
  width: 40px;
}
.p1{
  text-align: center;
  color: #34382f;
  font-size: 2rem;
  /* font-family: 'Orbitron', sans-serif; */
  /* font-family: "Metal Mania", system-ui; */
  font-family: "VT323", monospace;
  margin: 0px;
}
.p1-1{
  text-align: center;
  color: white;
  font-size: 2rem;
  /* font-family: 'Orbitron', sans-serif; */
  /* font-family: "Metal Mania", system-ui; */
  font-family: "VT323", monospace;
  margin: 0px;
}
.theme-btn{
  background-color: #475351;
  color: white;
  font-family: "VT323", monospace;
  font-size: 1rem;
  padding: 2px 10px;
  border: 2px solid black;
  cursor: pointer;
}
.theme-btn-2{
  background-color: white;
  color: black;
  font-family: "VT323", monospace;
  font-size: 1rem;
  padding: 2px 10px;
  border: 2px solid black;
  cursor: pointer;
}



.year{
  font-family: 'Audiowide', cursive;
  font-size: 2rem;
  color: #34382f;
}
.year-1{
  font-family: 'Audiowide', cursive;
  font-size: 2rem;
  color: white;
}

.day-month{
  font-size: 2rem;
  font-family: 'Audiowide', cursive;
}
.colon-p{
  font-size: 2rem;
  margin: 0;
}
.date-div{
  font-size: 1.3rem;
  font-family: 'Audiowide', cursive;
}
.time-div {
  background-color: rgba(197, 197, 197, 0.36);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(10px);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 100px;
  /* width: 12ch; */
  color: black;
}
.time-div-2 {
  background-color: rgba(197, 197, 197, 0.36);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(10px);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 100px;
  /* width: 12ch; */
  color: white;
}
.hms{
  font-size: 3rem;
  font-family: 'Audiowide', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2ch;
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
  /* display: inline-block; */
}
.hms2{
  font-size: 3rem;
  font-family: 'Audiowide', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
  /* display: inline-block; */
}
.hms1{
  font-size: 1rem;
  font-family: 'Audiowide', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}
.focus-main-div{
  user-select: none;
  margin-top: 200px;
}


}
